body {
    background-image: url("../img/background.png") !important;
    background-size: 100% 100%;
    width: 80%;
    margin: 0 auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media (max-width: 800px) {
    body {
        background-size: cover !important;
        width: 100%;
    }
}




.v-application{
    background: transparent !important;
}

.dialogBackground{

    background-image: url(../img/navbar.png) !important;
    background-size: cover;
    
}



/*barra*/


.v-app-bar {
    
    
    background-image: url('../img/navbar.png') !important;
    background-size: 40% !important;
    background-position: center;
    position: relative;
    
}

.v-app-bar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 6px solid;
    border-image-source: url(../img/iron_texture.jpg);
    border-image-slice: 15;
    border-image-repeat: repeat;
    
}


.v-btn{

    background-image: url(../img/borderButton.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    margin: 2px;
}

.text-center{

    color: white;
}

.cardBanner {
    position: relative !important;
    
    z-index: 1; 
}

.cardBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url(../img/cardBackground.png);
    background-size: 100% 100%; 
    background-position: center;
    z-index: -1; 
    opacity: 0.8;
}













.v-app-bar-title {
    background-image: url(../img/borderButton.jpeg) !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 2px;
}





.v-app-bar-title, .v-btn__content {
    color: #e0c080 !important; 
    font-family: 'Sua Fonte Steampunk', serif; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8); 
}